html, body,#Principal {
    height: 100%;
    padding: 0;
    margin: 0;
  }
#map {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
  }
.mapaBaseButton{
  height: 3%;
  width: 7%;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  right: 55px;
  background-color: whitesmoke;
}

#baseMapESRI{
  top: 20px !important;
}

#baseMapGoogle{
  top: 45px !important;
}

#baseMapDigitalGlobe{
  top: 70px !important;
}

.Cuadrado{
  height: 4%;
  width: 4%;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  right: 55px;
  top: 100px;
  background-color: whitesmoke;
}

#DivURL{
  height: 3%;
  width: 200px;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  right: 155px;
  top: 100px;
  display: none;
  background-color: white;
}

.buttonHide{
  position:absolute;
  height: 100%;
  width: 12%;
  right: 0px;
}

.ElementosCreados{
  height: 20%;
  width: 200px;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  right: 155px;
  top: 155px;
  background-color: whitesmoke;
}

.ElementoCreado{
  text-align: center;
  background-color: darkgrey;
}

.carrusel{
  position: absolute;
  background-color: white;
  top: 50px;
  width: 11%;
  height:3%;
  margin: auto;
  padding: auto;
  left: 550px;
  z-index: 1;
}
.carruselradio{
  padding: 10%;
}
.carruselTitle{
  position: absolute;
  background-color: black;
  text-align: center;
  color: white;
  top: 20px;
  width: 11%;
  height:4%;
  margin: auto;
  padding: auto;
  left: 550px;
  z-index: 1;
  font-size:20px;
}
.carruselSubtitle{
    position: absolute;
  background-color: black;
  text-align: center;
  color: white;
  top: 70px;
  width: 11%;
  height:3,5%;
  margin: auto;
  padding: auto;
  left: 550px;
  z-index: 1;
  font-size:22px;
}
.featureDiv{
  background-color: white;
}
.menu{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 100%;
    z-index: 1;
    background-color: #1c3749;  
    padding-bottom: 0px;
}
#map_zoom_slider{
  position: absolute;
  left: 150px;
}
.section{
  width: 80px;
  height: 80px;
  font-size: 1em;
  color:white;
  text-align: center;
  vertical-align: center;
  padding: 15px;
  line-height: 1em;
  border-style: solid;
  border-color: white;
  border-radius: 100%;
}
#title{
  position:relative;
  text-align:center;
}
#ImagenAgronomos{
  top:10px;
  right:10px;
  position: absolute;
}
.texto{
  position:absolute;
  left:120px;
  padding: 10px;
}
.left{
  position: relative;
  left:120px;
  display: inline-block;
}
table th {
    
    background-color: #f1f1f1;
}
table td, table th {
    border: 1px dotted #ccc;
    padding: .25em;
}