html, body, #map {
    height: 100%;
    padding: 0;
    margin: 0;
  }

.mapaBaseButton{
  height: 3%;
  width: 7%;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  left: 55px;
  background-color: whitesmoke;
}

#baseMapESRI{
  top: 20px !important;
}

#baseMapGoogle{
  top: 45px !important;
}

#baseMapDigitalGlobe{
  top: 70px !important;
}

.Cuadrado{
  height: 4%;
  width: 4%;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  right: 55px;
  top: 55px;
  background-color: whitesmoke;
}

#DivURL{
  height: 3%;
  width: 200px;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  right: 155px;
  top: 55px;
  display: none;
}

.buttonHide{
  position:absolute;
  height: 100%;
  width: 12%;
  right: 0px;
}

.ElementosCreados{
  height: 20%;
  width: 200px;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  right: 155px;
  top: 155px;
  background-color: whitesmoke;
}

.ElementoCreado{
  text-align: center;
  background-color: darkgrey;
}